<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="manifest" href="~/img/site.webmanifest">
</head>
<body>

    <header>
        <h1>@ViewBag.Title</h1>

        <h2>You are currently on the @ViewBag.Page page.</h2>

        <menu>
            <button type="button" class="btn btn-primary"><a asp-controller="Home" asp-action="Index">Home</a></button>
            <button type="button" class="btn btn-primary"><a asp-controller="Home" asp-action="GradeCalc">Grade Calculator</a></button>
        </menu>

    </header>

    @RenderBody()

    <footer>
        <div>My Website</div>
    </footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/gradecalculator.js"></script>
</body>
</html>    